<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="style.css">
  <title>Product App</title>
</head>

<body>
  <div class="nav-bar"></div>

  <div id="app">
    <div class="product">
      <div class="product-image">
        <img v-bind:src="image" alt="Socks">
      </div>

      <div class="product-info">
        <h1>{{ product  }}</h1>
        <p v-if="inStock">In Stock</p>
        <p v-else>Out of Stock</p>

        <ul>
          <li v-for="detail in details">{{ detail }}</li>
        </ul>

        <div class="color-box" :style="{ backgroundColor: variant.color}" v-for="variant in variants" :key="variant.id"
          @mouseover=updateProduct(variant.image)>
        </div>

        <button v-on:click="addToCart" :class="{disabledButton: !inStock}" :disabled="!inStock">Add to Cart</button>

        <div class="cart">
          <p>Cart({{ cart }})</p>
        </div>
      </div>
    </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  <script src="main.js"></script>
</body>

</html>
